body {
    font-family: Arial, sans-serif;
    background-color: #1A1A2E;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*Para la animación de la página para aparecer
    opacity: 0;
    transition: opacity 0.25s ease-in-out;*/
}
/*header*/
header {
    background-color: #BEC8F7;
    color: #FED41D;
    padding: 10px 20px;

}

header h1 {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}


.cabezera {
    display: flex;
    align-items: center;
}

.imagen-cabecera img{
    width: 100px;
    height: auto;
    margin-right: 10px;
    animation: bombeo 2s infinite;
}

/*Main principal*/
main {
    display: flex;
    flex-direction: column;
    flex: 1; 
    background-color: #0d0d1a;
}
/*Main index*/
.introduccion{
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    padding: 35px;
    font-family: 'Exo 2', sans-serif;
}
.introduccion p{
    color: #cccccc;
    font-family: 'Exo 2', sans-serif;
}



/*Footer*/
footer{
    background-color: #FDD835;
    color: #1E88E5;
    text-align: center;
}
footer img{
    width: 260px;
    margin-top: 10px;
}

.nombre{
    color: #1E88E5;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

.derechos-autor{
    color: #aaaaaa;
    font-family: 'Exo 2', sans-serif;
}
hr{
    border-color: rgba(255, 255, 255, 0)
}

