@font-face {
    font-family: 'Simpson';
    src: url('../fonts/simpsonfont/Simpsonfont\ DEMO.otf') format('truetype');
}


.badulaque-body {
        min-height: 90vh;                  
        display: flex;                      
        flex-direction: column;            
        background-color: #9DB6C6;
}

  main {
        flex: 1;         
        display: flex;
        width: 96%;
        height: 70vh;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        margin: 20px;
        background-color: #F2B880;
        border: 4px solid #333;
    }

.badulaque-header {
    
   font-size: larger;
    color: #FED41D;
    padding: 10px 20px;
    width: 100%;
    padding: 15px 0;
    text-align: center;

}

.badulaque-header h1 {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}


.cabecera {
    display: flex;
    align-items: center;
}

.imagen-cabecera img{
    width: 400px;
    height: auto;
    margin-right: 10px;
    animation: bombeo 2s infinite;
}

.badulaque-contenedor{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #F2B880;
    width: 20%;
}

.badulaque-botones{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.badulaque-CRUD{
    font-family: 'Simpson';
    color:#ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    width: 150px;
    height: 80px;
    border-radius: 10px;
    background-color:#3A8242;
    cursor: pointer;
    transition: color #864a00;
     box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5);
 
}
.badulaque-CRUD:hover{
    color:#864a00;
   
}







footer{
    background-color: #FDD835;
    color: #1E88E5;
    text-align: center;
    width: 100%;
    height: auto;
    border: 3px solid #333;
}
footer img{
    width: 260px;
    margin-top: 10px;
}

.nombre{
    color: #1E88E5;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

.derechos-autor{
    color: #aaaaaa;
    font-family: 'Exo 2', sans-serif;
}
hr{
    border-color: rgba(255, 255, 255, 0)
}